{{#import templateName="index-admin" context=this title="Lớp học"}}
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">
      Lớp học
    </h1>
    <a
      href="#"
      id="add-x-btn"
      class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
    >
      <i class="fas fa-plus fa-sm text-white-50"></i>
      Thêm Lớp học
    </a>
  </div>
  <div class="row">
    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-12">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
        >
          <h6 class="m-0 font-weight-bold text-primary">
            Danh sách Lớp học
          </h6>
          <div class="dropdown no-arrow"></div>
        </div>
        <!-- Card Body -->
        <div class="card-body"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- Main Area -->
    <div id="add-x-card" class="col-xl-12 col-lg-12 d-none">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
        >
          <h6 class="m-0 font-weight-bold text-primary">
            Thêm lớp học
          </h6>
          <div class="dropdown no-arrow"></div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <form id="add-x-form" method="POST" action="add">
            <div class="form-group">
              <label for="inputClassSchoolYear">
                Năm học
              </label>
              <select
                class="form-control"
                id="inputClassSchoolYear"
                name="inputClassSchoolYear"
                placeholder="Năm học"
               >
                {{#each schoolYears}}
                  <option value={{schoolYear}}>{{schoolYear}}</option>
                {{/each}}
               </select>
            </div>
            <div class="form-group">
              <label for="inputClassLevel">
                Khối
              </label>
              <input
                type="text"
                class="form-control"
                id="inputClassLevel"
                name="inputClassLevel"
                placeholder="Khối"
              />
            </div>
            <div class="form-group">
              <label for="inputClassType">
                Ngành
              </label>
              <input
                type="text"
                class="form-control"
                id="inputClassType"
                name="inputClassType"
                placeholder="Ngành"
              />
            </div>
            <div class="form-group">
              <label for="inputClassPosition">
                Số
              </label>
              <input
                type="text"
                class="form-control"
                id="inputClassPosition"
                name="inputClassPosition"
                placeholder="Lớp học"
              />
            </div>
            <hr />
            <a
              href="#"
              class="btn btn-primary btn-icon-split"
              id="submit-x-btn"
            >
              <span class="icon text-white-50">
                <i class="fas fa-plus"></i>
              </span>
              <span class="text">
                Thêm lớp học
              </span>
            </a>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/button-actions.js"></script>
  <script src="/js/custom-table.js"></script>
{{/import}}