{{#import templateName="index-admin" context=this title="Lỗi vi phạm"}}
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">
      Lỗi vi phạm
    </h1>
    <a
      href="#"
      id="add-x-btn"
      class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
    >
      <i class="fas fa-plus fa-sm text-white-50"></i>
      Thêm lỗi vi phạm
    </a>
  </div>
  <div class="row">
    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-12">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
        >
          <h6 class="m-0 font-weight-bold text-primary">
            Tra Cứu
          </h6>
          <div class="dropdown no-arrow"></div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <form method="POST" action="find">
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="inputName">
                  Tên
                </label>
                <input
                  type="text"
                  class="form-control"
                  id="inputName"
                  name="inputName"
                  placeholder="Tên"
                 />

              </div>
            </div>
            <button type="submit" class="btn btn-primary">
              Tìm
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

    <div class="row">
    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-12 d-none">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
        >
          <h6 class="m-0 font-weight-bold text-primary">
            Danh sách lỗi vi phạm của
          </h6>
          <div class="dropdown no-arrow"></div>
        </div>
        <!-- Card Body -->
        <div class="card-body"></div>
      </div>
    </div>
  </div>

    <div class="row">
    <!-- Main Area -->
    <div id="add-x-card" class="col-xl-12 col-lg-12 d-none">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
        >
          <h6 class="m-0 font-weight-bold text-primary">
            Thêm lỗi vi phạm
          </h6>
          <div class="dropdown no-arrow"></div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <form id="add-x-form" method="POST" action="add">
            <div class="form-group">
              <label for="inputPenaltyName">
                Tên HS
              </label>
              <input
                type="text"
                id="inputPenaltyName"
                name="inputPenaltyName"
                class="form-control"
                placeholder="Tên HS"
              />
            </div>
            <div class="form-group">
              <label for="inputPenaltySchoolYear">
                Năm học
              </label>
              <select
                class="form-control"
                id="inputPenaltySchoolYear"
                name="inputPenaltySchoolYear"
              >
              {{#each schoolYears}}
                <option value={{_id}}>
                  {{schoolYear}}
                </option>
              {{/each}}
              </select>
            </div>
            <div class="form-group">
              <label for="inputPenaltyClass">
                Lớp
              </label>
              <select
                class="form-control"
                id="inputPenaltyClass"
                name="inputPenaltyClass"
              >
                {{#each classes}}
                  <option value={{fullClassName}}>
                    {{fullClassName}}
                  </option>
                {{/each}}
              </select>
            </div>
            <hr />
            <a
              href="#"
              class="btn btn-primary btn-icon-split"
              id="submit-x-btn"
            >
              <span class="icon text-white-50">
                <i class="fas fa-plus"></i>
              </span>
              <span class="text">
                Thêm lỗi vi phạm
              </span>
            </a>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/button-actions.js"></script>
  <script src="/js/custom-table.js"></script>
{{/import}}