<!DOCTYPE html>
<html lang="en">
<head>
  {{> meta }}
  <title>{{title}}</title>
  {{> css-imports }}
</head>
<body class="bg-gradient-primary">
  <div class="container">
    {{{content}}}
  </div>
  {{> js-imports }}
</body>
</html>