 <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/home">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SGM <sup>0.1</sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="/home">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Heading -->
      <div class="sidebar-heading">
        Quản lý
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <i class="fas fa-fw fa-user-graduate"></i>
          <span>Học Sinh</span>
        </a>
        <div id="collapseOne" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Danh mục</h6>
            <a class="collapse-item" href="/students/add">Thêm</a>
            <a class="collapse-item" href="/students/">Tra Cứu</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-chalkboard-teacher"></i>
          <span>Giáo Viên</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Danh mục</h6>
            <a class="collapse-item" href="/teachers/add">Thêm</a>
            <a class="collapse-item" href="/teachers/">Tra Cứu</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
          <i class="fas fa-fw fa-scroll"></i>
          <span>Môn Học</span>
        </a>
        <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Danh mục</h6>
            <a class="collapse-item" href="/subjects/assign">Chỉ định GV phụ trách</a>
            <a class="collapse-item" href="/subjects/">Danh sách Môn Học</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
          <i class="fas fa-fw fa-book-open"></i>
          <span>Bài Thi</span>
        </a>
        <div id="collapseFour" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Danh mục</h6>
            <a class="collapse-item" href="/exams/add">Thêm</a>
            <a class="collapse-item" href="/exams/remove">Xóa</a>
            <a class="collapse-item" href="/exams/edit">Sửa</a>
            <a class="collapse-item" href="/exams/">Danh sách Bài Thi</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
          <i class="fas fa-list-alt"></i>
          <span>Cột Điểm</span>
        </a>
        <div id="collapseFive" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Danh mục</h6>
            <a class="collapse-item" href="/score-criteria/add">Thêm</a>
            <a class="collapse-item" href="/score-criteria/remove">Xóa</a>
            <a class="collapse-item" href="/score-criteria/edit">Sửa</a>
            <a class="collapse-item" href="/score-criteria/">Quy định Côt điểm</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
          <i class="fas fa-check-circle"></i>
          <span>Nội Quy</span>
        </a>
        <div id="collapseSix" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Danh mục</h6>
            <a class="collapse-item" href="/conduct-criteria/add">Thêm mục Vi phạm</a>
            <a class="collapse-item" href="/conduct-criteria/remove">Xóa mục Vi phạm</a>
            <a class="collapse-item" href="/conduct-criteria/edit">Sửa mục Vi phạm</a>
            <a class="collapse-item" href="/conduct-criteria/">Danh sách Nội Quy</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
          <i class="fas fa-fw fa-times"></i>
          <span>Lỗi Phạt</span>
        </a>
        <div id="collapseSeven" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Danh mục</h6>
            <a class="collapse-item" href="/penalties/add">Thêm mục</a>
            <a class="collapse-item" href="/penalties/remove">Xóa mục</a>
            <a class="collapse-item" href="/penalties/edit">Sửa mục</a>
            <a class="collapse-item" href="/penalties/">Danh sách Vi Phạm</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
          <i class="fas fa-fw fa-school"></i>
          <span>Năm Học</span>
        </a>
        <div id="collapseEight" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Danh mục</h6>
            <a class="collapse-item" href="/school-years/add">Thêm / Thêm Học Kỳ</a>
            <a class="collapse-item" href="/school-years/">Danh sách Năm Học</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseNine" aria-expanded="true" aria-controls="collapseNine">
          <i class="fas fa-fw fa-door-open"></i>
          <span>Lớp Học</span>
        </a>
        <div id="collapseNine" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Danh mục</h6>
            <a class="collapse-item" href="/classes/assign">Chỉ định GV chủ nhiệm</a>
            <a class="collapse-item" href="/classes/">Danh sách Lớp Học</a>
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Admin only
      </div>

      
      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTen" aria-expanded="true" aria-controls="collapseTen">
          <i class="fas fa-fw fa-cog"></i>
          <span>Admins</span>
        </a>
        <div id="collapseTen" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Actions</h6>
            <a class="collapse-item" href="/admins/add">Add</a>
            <a class="collapse-item" href="/admins/remove">Remove</a>
            <a class="collapse-item" href="/admins/">Admin List</a>
          </div>
        </div>
      </li>


      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="true" aria-controls="collapseEleven">
          <i class="fas fa-fw fa-cog"></i>
          <span>Roles & Permissions</span>
        </a>
        <div id="collapseEleven" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Actions</h6>
            <a class="collapse-item" href="/roles/add">Add Role</a>
            <a class="collapse-item" href="/permissions/add">Add Permission</a>
            <a class="collapse-item" href="/roles/">Role List</a>
            <a class="collapse-item" href="/permissions/">Permission List</a>
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>
</ul>
