{{#> blank-template
  title="Blank Page"
  content='<h1 class="h3 mb-4 text-gray-800">Blank Page</h1>'
 }}
  This is a fallback of blank-template partial. Apparently something has gone horribly wrong. Please check your import.
 {{/blank-template}}
